* {
  margin:0px;
  padding:0px;
}

html,
body{
   width:100%;
   height:100%;
   overflow: hidden;
}

#menu {
  width:10000px;
  height:24px;
  padding:0;
  margin:0;
  list-style-type: none;
  background-color: #888888;
}

#menu li {
  width:100px;
  height:100%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
  list-style-type: none;
  background-color: #888888;
 }

#menu li a {
  width:auto;
  height:100%;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  text-decoration:none;
  display:block;
  background-color:#888888;
  white-space: nowrap;
}

#menu li ul {
  display:none;
  position:relative;
  z-index:9998;
}

#menu li:hover ul {
  display:block;
}

#menu li:active ul {
  display:none;
}

#menu li a:hover {
  background-image: -moz-linear-gradient(top, #555 0%, #444 50%, #333 50%, #444 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #555), color-stop(0.50, #444), color-stop(0.50, #333), color-stop(1, #444));
}

#space {
  width:100%;
  height:20px;
  padding:0;
  margin:0;
  list-style-type: none;
}

#input_area{
   padding:0px 0px 0px 0px;
   height:95%;
}
#input_txt{
   width:100%;
   height:100%;
   font–size: 11pt;
}
